body {
	margin: 0 auto;
	font-family: sans-serif;
	background-color: #f3f1f1;
	height: 100vh;
}

.container {
	max-width: 50%;
	min-width: 450px;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 8px;
	background-color: #fff;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form {
	flex-direction: column;
	display: flex;
	padding: 20px;
	text-align: center;
}

input {
	margin: 15px;
	padding: 8px 5px;
	border-radius: 5px;
	border: 1px solid black;
}

.submit_form {
	background: linear-gradient(to right, #3aaef8, #9f62ed);
	margin: 20px;
	padding: 10px;
	border: none;
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.register_link,
.login_link {
	padding: 10px;
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	font-size: 13px;
}

a {
	padding: 0%;
	margin: 20px;
	margin-top: 0px;
	text-decoration: none;
	color: inherit;
}

header {
	height: 60px;
	background: linear-gradient(to right, #3aaef8, #9f62ed);
	padding: 10px 30px;
}

.logout {
	color: #fff;
	float: right;
	border: none;
	height: fit-content;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

table {
	background-color: #fff;
	width: 90%;
	/* max-width: 1000px; */
	margin: 5%;
	border-collapse: collapse;
	box-shadow: 0 0 5px;
	padding: 10px;
	border-radius: 10px;
}

thead {
	font-weight: bold;
	font-size: 20px;
	background: linear-gradient(to right, #3aaef8, #9f62ed);
	margin-bottom: 15px;
}

th {
	padding: 12px;
	margin-bottom: 18px;
}

th:first-child {
	border-top-left-radius: 10px;
}
th:last-child {
	border-top-right-radius: 10px;
}

td {
	padding: 8px;
	border-top: 1px solid rgba(41, 40, 40, 0.903);
}

td:nth-child(1) {
	text-align: center;
}

tr:last-child > td:first-child {
	border-bottom-left-radius: 10px;
}

tr:last-child > td:last-child {
	border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
	background-color: #efececcd;
}

.pagination_container {
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination a {
	color: #333;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background: linear-gradient(to right, #3aaef8, #9f62ed);
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

#return {
	position: relative;
	top: 40%;
}

.updateForm {
	border-radius: 10px;
	box-shadow: 0 0 10px;
	width: 40%;
	max-width: 500px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
}

#updateButton {
	background: linear-gradient(to right, #3aaef8, #9f62ed);
	border: none;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
}

#update {
	text-align: center;
	color: rgb(6, 92, 214);
	font-weight: bold;
}

#delete {
	text-align: center;
	color: red;
	font-weight: bold;
}
